        <div id="wrapper">

            <!--SLIDE-IN ICONS-->
            <div class="user-icon"></div>
            <div class="pass-icon"></div>
            <!--END SLIDE-IN ICONS-->

            <!--LOGIN FORM-->
            <form class="login-form">

                <!--HEADER-->
                <div class="header">
                    <!--TITLE--><h1>Login </h1><!--END TITLE-->
                    <!--DESCRIPTION--><span>Fill out the form below to login.</span><!--END DESCRIPTION-->
                </div>
                <!--END HEADER-->

                <!--CONTENT-->
                <div class="content">
                    <!--USERNAME--><input ng-model="user.username"  type="text" class="input username" placeholder="Username" /><!--END USERNAME-->
                    <!--PASSWORD--><input ng-model="user.password"  type="password" class="input password" placeholder="Password" /><!--END PASSWORD-->
                </div>
                <!--END CONTENT-->

                <!--FOOTER-->
                <div class="footer">
                    <!--LOGIN BUTTON--><button ng-click="login()" class="button">Login</button><!--END LOGIN BUTTON-->
                </div>
                <!--END FOOTER-->

            </form>
            <!--END LOGIN FORM-->

        </div>
        <!--END WRAPPER-->




