doctype html
html
    head
    img(src='http://webstoremall.com/images/company/80/C_Casa_logo.jpg')
    h1 Booking informations from Casablanca with booking ID : 8888
    body
        p Hello Damjan, this is a confirmation mail for your booking at Casablanca hotel resort.
        p You have booked roomnumber <b>52</b>, on <b>21-12/2014</b> to <b>26-12/2014</b>.
        p We have created you in our system, so you will get a personal username and password so you can book a facility.
        p Your guests include

                ul
                    li <b>First name</b>: Damjan
                    li Last name : Filipovic
                    li Address   : Mathildeparken
                    li Country   : Denmark
                    li Email     : Damii93@hotmail.com
                    li Phone     : 41288757
                    li Birth date: 11-06-1993
                    li <u>Username</u>  : Username
                    li <u>Password</u>  : Password
        p We welcome you to the hotel, and are looking forward to you, to come.
            p Kind reagards, Casablanda Hotel Resort