

<div id="main_wrap" ng-show="isAuthenticated">

    <guest-side-bar></guest-side-bar>
    <!--
    **************
    CONTENT!
    **************
    -->

    <div id="homecontent">


      <h1 id="welcome">Book a facility, {{guest.firstName}}</h1>



        <div class="col-md-8">


            <div class="row">
                <div class="col-xs-5">
                    <div class="input-group check-in">
                        <span class="input-group-addon">Choose facility</span>
                        <select name="facilities" class="form-control">
                            <option value="swimming">Swimming</option>
                            <option value="golf">Golf</option>
                            <option value="ping-pong">Ping-pong</option>
                            <option value="gym">Gym</option>
                            <option value="handball">Handball</option>
                            <option value="internetcafe">Internet cafe</option>
                        </select>

                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="input-group check-out">
                        <span class="input-group-addon">Choose date</span>
                        <input type="date" class="form-control" ng-model="dateFacility" ng-click="disableForm=true">

                    </div>
                </div>
                <div class="col-xs-2">
                    <input type="button" value="Search" id="searchDateButton" ng-click="search()" class="form-control"/>
                </div>
            </div>
    </div>
</div>
